@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Be Vietnam Pro", ui-sans-serif, system-ui, sans-serif;
  --color-cs_red: #ff0000;
  --color-cs_blue: #3399ff;
  --color-cs_green: #2eb85c;
  --color-cs_orange: #fdb813;
  --color-dark_bg: #0f172a;
  --color-dark_card: #1e293b;
}
